### Thanks to the developers of the very useful dependencies...

* [@pigalle/entities.base](https://github.com/pigalle-io/pigalle.entities.base) by [pigalle.io](https://github.com/pigalle-io/)
* [@9fv.io/invalidtype-error](https://github.com/9fv/node-invalidtype-error) by [9fv.io](https://github.com/9fv/)
